@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

Thank you @ViewBag.client.firstName @ViewBag.client.lastName, your order number is @ViewBag.client.clientID! <br /><br />

@ViewBag.instrument.type <br />
@ViewBag.instrument.desc